<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" >
    <title>ADC</title>
</head>
<body>
    <div>
        <ul>
            <li><a class="active" href="/Home">Home</a></li>
            <li><a href="OurServices">Our Services</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
        </ul>
    </div>

    <div class="ctc">
        <h2>Send a direct message to our company</h2>
<textarea id="w3review" name="w3review" rows="4" cols="50" placeholder="Write here">
  
  </textarea>
  <br><br>
  <input type="submit" value="Submit">
</form>
    </div>

</body>
</html>