<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css" >
    <title>ADC</title>
</head>
<body>
    <div>
        <ul>
            <li><a class="active" href="/Home">Home</a></li>
            <li><a href="OurServices">Our Services</a></li>
            <li><a href="ContactUs">Contact Us</a></li>
        </ul>
    </div> 

    <div class="frm">
        <h4>LogIn or SignUp</h4>
        <form action="/action_page.php">
            <label for="fname">Write your name:</label><br>
            <input type="text" id="fname" name="fname" placeholder='Name'><br>
            <label for="lname">Password:</label><br>
            <input type="password" id="lname" name="lname" placeholder='password'><br><br>
            <input type="submit" value="Submit">
        </form> 
    </div>

    <div class="intro">
        <p>The company administration like ADC is a formal procedure whereby an insolvency practitioner, acting as administrator, attempts to rescue the business as a means of bringing about the best return for creditors.
            Administration is an option for larger companies that are in debt and unable to pay the money they owe and where one of these conditions applies:</p>
        <h5>1/ A better return can be offered to creditors via keeping the business open</h5>
        <h5>2/ The business remains viable and with the potential to return to profitability</h5>
        <h5>3/ When it’s a nationally recognised brand (i.e. a football club) which needs time to restructure while a sale can be agreed</h5>
        <h5>4/ Where secured or preferential creditors are seeking to realise property</h5>
    </div>
</body>
</html>